test/xml/jungle.schematron.xml


<schema xmlns="http://purl.oclc.org/dsdl/schematron">
	<pattern>
		<rule context="/*/*">
			<report test="weight &gt;= max(../*/weight)">
			This is the heaviest <name /> in the <name path="parent::*" /></report>
			<assert test="weight &lt; 500">Animals must not be overweight</assert>
		</rule>
	</pattern>
</schema>