test/xml/jungle.schematron2.xml


<schema xmlns="http://purl.oclc.org/dsdl/schematron">
	<pattern>
		<rule context="*">
			<report test="false()">Rule X</report>
		</rule>
		<rule context="*">
			<report test="true()">Rule 3</report>
			<report test="true()">Rule 4</report>
			<assert test="false()">Rule 5</assert>
		</rule>
	</pattern>
</schema>